body {
    background-color: #ede9df
}

h1 {
    font-family: PT Sans Narrow;
    color: #2a4a4a;
    font-size: 5em;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0;
}

/* Menu and sliding underline */
div.menu {
    width: 25vw;
    margin: 0 auto;
}

ul {
    padding: 0;
    width: 100vw;
}

li {
    display: inline-block;
    padding: 0.75rem 0;
    margin: 0.5em;
    font-size: 1.5vw;
    font-weight: bold;
    font-family: Open Sans;
    color: #2a4a4a;
}

.one:hover ~ hr {
    margin-left: 0;
}
.two:hover ~ hr {
    margin-left: 8.5vw;
}
.three:hover ~ hr {
    margin-left: 17.5vw;
}

hr.first {
    height: 0rem;
    width: 7vw;
    margin: 0;
    transition: .3s ease-in-out;
}
hr.second {
    height: 0rem;
    width: 7vw;
    margin: 0;
    margin-left: 8.5vw;
    transition: .3s ease-in-out;
}
hr.third {
    height: 0rem;
    width: 7vw;
    margin: 0;
    margin-left: 17.5vw;
    transition: .3s ease-in-out;
}

/* Current info box */
div.info {
    border-radius: 0.5em;
    border: 0.09em solid #2a4a4a;
    margin-left: 35%;
    margin-right: 35%;
}