body {
    margin: 0;
    background-color: black;
    overflow: hidden;
}

.nameplate {
    display: flex;
    flex-direction: row;
    gap: 6vw;
    margin: 0;
   
    animation: slideUp ease-in-out 1.4s;
}
h1 {
    font-family: "Michroma";
    font-size: 6vw;
    color: brown;
    
    display: inline-block;
    margin: 0;
}

.contents {
    background-color: brown;
    width: 100vw;
    height: 100vh;
    animation: slideUp 1s;
    
    display:flex;
    flex-direction: row;
}

.info {
    float:left;
    text-align: center;
    width: 60%;
    border-right: solid black 1vw;
   
    font-family: "Michroma";
    font-size: 2vw;

    transform: translate(-100%, 0);
    animation: slideInLeft 1s forwards;
    animation-delay: 3s;
}
.subtext {
    font-size: 1.5vw;
}
a {
    color: black;
}
.nav {
    float: right;
    text-align: right;
    width:40%;
}
.question {
    font-family: "Michroma";
    font-size: 6vw;
    color: black;
    
    text-align: right;
    margin: 0;

    transform: translate(100vw,0);
    animation: slideInRight 1s forwards;
    animation-delay: 1.3s;
}
.answers {
    list-style-type: none;

    font-family: "Michroma";
    font-size: 4vw;
    color: black;
}

.tab {
    margin-left: auto;
    transition-property: font-size;
    transition-duration: 0.5s;
    transform: translate(100vw,0);
    animation: slideInRight 1s forwards;
}
.tab:hover {
    cursor: pointer;
    font-size: 4.3vw;
}
.tab:nth-of-type(1) { animation-delay: 2.3s; }
.tab:nth-of-type(2) { animation-delay: 2.5s; }
.tab:nth-of-type(3) { animation-delay: 2.7s; }


@keyframes slideUp {
    0% {
        transform: translate(0vw, 100vh) 
    }
    100% {
        transform: translate(0vw, 0);
    }
}

@keyframes slideInRight {
    0% {
        transform: translate(100vw, 0);
    }
    100% {
        transform: translate(0,0);
    }
}

@keyframes slideInLeft {
    0% {
        transform: translate(-100%, 0);
    }
    100% {
        transform: translate(0,0);
    }
}