body {
    background-color: #121212;
}

* {
  color: #FFFFFF;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: #BB86FC;
  font-family: PT Sans Narrow;
  font-size: 5vw;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0;
}

button {
  padding: 0.3em 0.3em;
  margin: 0 0.5em;
  font: normal normal bold 1.5vw Open Sans;
  border: 1px solid #BB86FC;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  background-color: #121212;
}

button:hover {
  background-color: #212121;
}

div.info {
  min-width: 35%;
  padding: 0 1em;
  border-radius: 0.5em;
  border: 0.09em solid #BB86FC;
  text-align: center;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  font: normal normal bold 1.3vw Open Sans;
}

a {
  color: #BB86FC;
}