html {
    height: 100%;
}

body {
    margin: 0;
    background-color: black;
    overflow: hidden;

    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.nameplate {
    display: flex;
    flex-direction: row;
    gap: 6vw;
    margin: 0;
    height: auto;
    padding-left: 2%;
    transform: translate(0vw, 100vh);
    animation: slideUp ease-in-out 1.4s forwards;
}
h1 {
    font-family: "Michroma";
    font-size: 6vw;
    color: brown;
    
    display: inline-block;
    margin: 0;
}

.contents {
    background-color: brown;
    width: 100vw;
    height: 100vh;

    transform: translate(0vw, 100vh);
    animation: slideUp 1s forwards;
    
    display:flex;
    flex-direction: row;
    overflow: hidden;
}

.title {
    background-color: brown;
    color: black;
    border-radius: 10px;
    margin-bottom: 10px;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
  
::-webkit-scrollbar-thumb {
    border: brown solid 3px;
    width: 1px;
    background: black;
    border-radius: 10px;
}
  
.info {
    float:left;
    text-align: center;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 5%;
    width: 67%;
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;

    background-color: black;
    border-top: solid brown 0.5vw;
    border-radius: 0 15px 15px 0;
    font-family: "Red Hat Display";
    font-size: 2vw;
    color: brown;

    transform: translate(-100%, 0);
    animation: slideInLeft 1s forwards;
    animation-delay: 3s;

}
.subtext {
    font-size: 1.5vw;
    color: brown;
}

img {
    border: brown solid 2px;
}

a {
    color: brown;
    text-decoration: solid underline brown 2px;
    font-weight: bold;
}
.nav {
    float: right;
    text-align: right;
    width:33%;
    padding: 0;
}
.question {
    font-family: "Michroma";
    font-size: 5vw;
    color: black;
    
    text-align: right;
    margin: 0;

    transform: translate(100vw,0);
    animation: slideInRight 1s forwards;
    animation-delay: 1.3s;
}
.answers {
    list-style-type: none;
    font-family: "Michroma";
    font-size: 3vw;
    color: black;
}

.tab {
    border-radius: 15px 0 0 15px;
    
    transition-property: font-size;
    transition-duration: 0.5s;
    transform: translate(100vw,0);
    animation: slideInRight 1s forwards;
}
.tab:hover {
    cursor: pointer;
    font-size: 3.3vw;
    background-color: #ac3030;
}
.tab:nth-of-type(1) { animation-delay: 2.3s; }
.tab:nth-of-type(2) { animation-delay: 2.5s; }
.tab:nth-of-type(3) { animation-delay: 2.7s; }


@keyframes slideUp {
    0% {
        transform: translate(0vw, 100vh) 
    }
    100% {
        transform: translate(0vw, 0vh);
    }
}

@keyframes slideInRight {
    0% {
        transform: translate(100vw, 0);
    }
    100% {
        transform: translate(0,0);
    }
}

@keyframes slideInLeft {
    0% {
        transform: translate(-100%, 0);
    }
    100% {
        transform: translate(0,0);
    }
}